
$primaryColor :red;
$secondColor: #283A55;

nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    display: flex;
    ul{
        display: flex;
        flex-direction: column;
        li{
            all: unset;
            cursor: pointer;
        }
    }

    img{
        height: 20px;
        width: 30px;
        margin-right: 10px;
    }
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    height: 100vh;
}

footer{
    padding-top: 10vh;
    height: 100vh;
}

#skillsSection{
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 10px;
}

img{
    max-width: 300px;
    max-height: 300px;
}


#topBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: $secondColor;
    color: $primaryColor;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 40%;
    transform: rotate(-90deg);
}