
$primaryColor :#D8DDE9;
$fontColor: #A4B1CD;
$secondColor: #2b3b53;
$backgroundColotr :  #1F2D42;
$backgroudLight: #293B57;
$backgroudDark: #2F415C;

*{
    margin: 0;
    padding: 0;
    color:$fontColor;
}

body{
    background-color: $secondColor;
    color: $primaryColor;
}

h2{
    font-size: 30px;
    // margin-bottom: 30px;
}

// navbar
nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    display: flex;
    background-color: $backgroundColotr;
    height: fit-content;
    min-height: 50px;
    ul{
        margin-bottom: 20px;
        margin-top: 30px;
        :first-child{
            margin-top: 20px;
        }
        li{
            cursor: pointer;
            all: unset;
            margin-left: 50px;
            a{
                all: unset;
                cursor: pointer;
                color: $primaryColor;
            }
        }
    }
    img{
        height: 20px;
        width: 30px;
        margin-right: 10px;
    }
}

        // burger
#burgerBtn{
    position: absolute;
    left: 20px;
    top: 10px;
    background-color: $backgroundColotr;
    border: none;
    .menu-bar{
      background-color: $primaryColor;
      width: 25px;
      height: 4px;
      margin-bottom: 6px ;
      border-radius: 20%;
    }
  }

.burger-clicked{

    display: flex;
    flex-direction: column;
}
.burger-unclicked{
display: none;
}
        // flag
#flags{
    position: absolute;
    right: 10px;
    top: 15px;
    filter: grayscale(30%);
}

// main

section, footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 10vh;
    min-height: 100vh;
    padding: 50px;
}

section:nth-child(2n) {
background-color: $backgroudDark;
}

section:nth-child(2n+1) {
background-color: $backgroudLight;
}

footer{
    background-color: $backgroudDark;    
    padding-top: 10vh;
    height: 100vh;
    #webLink{
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
    }
}


.imgAbout{
    max-width: 300px;
    max-height: 300px;
}


#topBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: $primaryColor;
    color: $secondColor ;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding-bottom: 10px;
    border-radius: 50%;
    transform: rotate(-90deg);
}


// skills
#skillsSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    // justify-items: center;
}


.card-skill{
    width: 150px;
    height: 150px;
    background-color: $backgroundColotr;
    color: $primaryColor;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fa, .fab{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
} 

// project 
#projectSection{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: center;
}

.cardProject{
    width: 340px;
    height: 400px;
    margin: 20px;
    background-color: $backgroundColotr;
    display: flex;
    flex-flow: column;
    img{
        width: 340px;
    }   
}

.cardProjectContent{
    text-align: center;
    h3{
        margin: 10px;
        font-size: 20px;
    }
    p{
        margin: 20px;
    }
    .link{
        display: flex;
        justify-content: space-evenly;
    }
}

.icon{
    max-width: 20px;
}


// 400 770 1000 
@media only screen and (min-width: 770px) and (max-width: 1000px) {
	#aboutSection{
        flex-direction: row;
    }
	#skillsSection{
        grid-template-columns: repeat(3, 1fr);
    }
    #projectSection{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px){
    #aboutSection{
        flex-direction: row;
        justify-content: center;
        #info{
            margin-left: 50px;
            max-width: 60vh;
        }
    }
    #skillsSection{
        // grid-template-columns: repeat(4, 1fr);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #projectSection{
        // grid-template-columns: repeat(3, 1fr);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}