nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    display: flex;
    ul{
        display: flex;
        flex-direction: column;
        li{
            all: unset;
            cursor: pointer;
        }
    }

    img{
        height: 20px;
        width: 30px;
        margin-right: 10px;
    }
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    height: 100vh;
}

footer{
    padding-top: 10vh;
    height: 100vh;
}

#skillsSection{
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 10px;
}

img{
    max-width: 300px;
    max-height: 300px;
}
